.header {
  max-width: 880px;
  min-height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 705px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 55px;
    padding-top: 28px;
  }
}