.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin-top: 6px;
  color: #fff;
  display: inline-block;
}

.header__link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
  cursor: pointer;
}