.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 68px 0 60px 0;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 705px;
    padding: 40px 0 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    padding: 48px 0 36px 0;
  }
}