.elements__item {
  position: relative;
  height: 361px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .elements__item {
    height: 423px;
  }
}

@media screen and (max-width: 767px) {
  .elements__item {
    height: 361px;
  }
}